<div class="container">


<head>
        <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <title>Validar Corrección de la Rúbrica</title>
   </head>
       <body ng-app="app" ng-controller="myController">
   
           <h1 class="h1">Rúbrica de la evaluación: </h1>
           <button type="submit" class="btn btn-primary">Crear una nueva rúbrica</button>
           <button type="submit" class="btn btn-success">Usar una rúbrica pasada</button>
            <br><br>

           <div class="card text-left border-success">
                <div class="form-group row">
                    <div class="col-2">
                        <p>Nombre Rúbrica:</p>
                    </div>
                    <div class=" col-4">
                        <input class="form-control" type="text" placeholder="Ingrese el nombre de la rúbrica">
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-danger">Ingresar nuevo criterio</button>
                        <button type="submit" class="btn btn-danger">Guardar rúbrica</button>
                    </div>
                
                    <!-- 
                        <ul class ="list-inline">
                            <li class="list-inline-item" ng-repeat="criterio in listaCriterios" ng-init="criterioIndex = $index">
                                <h1 class="h1">Criterio {{criterioIndex + 1}}</h1>
                                <h3><span class="h1">Nombre Criterio:</span>  {{criterio.nombre}}</h3>
                                <h3><span class="h1">Puntaje Asignado:</span>  {{criterio.puntajeAsignado}}</h3>
                                <h3><span class="h1">Puntaje Máximo:</span>  {{criterio.puntajeMaximo}}</h3> 
                                <h3><span class="h1">Comentario:</span> {{criterio.comentario}}</h3> 
                                <br>
                            </li>
                        </ul>

                     -->
                    

   
               <form ng-submit="corregirRubrica(criterio)">
                   <button type="submit" class="btn btn-info" ng-click="mostrarConfirmacion()">Validar corrección</button>

               </form>
   
            </div>

         <!-- Agregar 2 botones: btnCrearUnaNuevaRúbrica y UsarUnaRúbricaPasada (LISTO)
         Colocar un cuadrado grande (copiar de Curso)
         Colocar en una sola línea
            Nombre: (input) btnIngresarNuevoCriterio btnGuardarRubrica
            Luego van las familias con sus respectivos criterios

         --> 
   
           
   
   
           
   
           <!-- Optional JavaScript -->
           <!-- jQuery first, then Popper.js, then Bootstrap JS -->
           <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
           <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
           <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
           <script src="app.js"></script>
           <link rel="stylesheet" href="css/style.css">
   
       </body>
</div>